.home-container {
  width: 100%;
  padding: 20px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-card {
  width: 200px; /* Ajustar el ancho de la tarjeta */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  height: 150px; /* Ajustar la altura de la imagen */
  object-fit: cover;
  border-radius: 8px;
}

.product-card h3 {
  font-size: 16px; /* Reducir tamaño del texto */
  margin: 10px 0 5px;
}

.product-card p {
  font-size: 14px; /* Reducir tamaño del texto */
  margin: 5px 0;
}

.product-card button {
  padding: 8px 12px;
  font-size: 14px; /* Ajustar tamaño del texto en el botón */
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-card button:hover {
  background-color: #0056b3;
}

.delete-product-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-top: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-product-btn:hover {
  background-color: #c82333;
}
