/* src/styles/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.navbar-logo h2 {
  cursor: pointer;
  color: #fff;
}

.navbar-buttons {
  display: flex;
  gap: 10px;
}

.navbar-btn {
  padding: 8px 12px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navbar-btn:hover {
  background-color: #0056b3;
}

.cart-btn {
  background-color: #28a745;
}

.upload-btn {
  background-color: #ffc107;
}

.upload-btn:hover {
  background-color: #e0a800;
}

.logout-btn {
  background-color: #dc3545;
}

.logout-btn:hover {
  background-color: #c82333;
}
