/* src/styles/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.navbar-logo h2 {
  cursor: pointer;
  color: #fff;
}

.navbar-buttons {
  display: flex;
  gap: 10px;
  align-items: center; /* Alinear verticalmente los elementos */
}

.navbar-btn {
  padding: 8px 12px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navbar-btn:hover {
  background-color: #0056b3;
}

.profile-btn {
  background-color: #17a2b8;
}

.profile-btn:hover {
  background-color: #138496;
}

.logout-btn {
  background-color: #dc3545;
}

.logout-btn:hover {
  background-color: #c82333;
}

.upload-btn {
  background-color: #ffc107;
}

.upload-btn:hover {
  background-color: #e0a800;
}

.navbar-cart {
  position: relative;
  cursor: pointer;
  font-size: 24px; /* Tamaño del ícono del carrito */
}

.cart-count {
  position: absolute;
  top: -8px; /* Ajustar para posicionar encima del ícono del carrito */
  right: -10px; /* Ajustar para posicionar a la derecha del ícono */
  background-color: #dc3545;
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
}
