.product-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product-image {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 30px;
}

.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-info h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #343a40;
}

.product-description {
  font-size: 16px;
  margin-bottom: 10px;
  color: #6c757d;
}

.product-price,
.product-stock {
  font-size: 18px;
  margin-bottom: 8px;
  color: #495057;
}

.average-rating {
  margin-top: 20px;
}

.average-rating h3 {
  font-size: 20px;
  color: #ffc107;
}

.add-review {
  margin-top: 30px;
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-review h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #495057;
}

.review-form {
  display: flex;
  flex-direction: column;
}

.review-form textarea {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  resize: none;
  margin-bottom: 10px;
  height: 100px;
}

.review-form label {
  margin-bottom: 5px;
}

.review-form select {
  width: 60px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-bottom: 10px;
}

.review-form button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.review-form button:hover {
  background-color: #218838;
}

.product-reviews {
  margin-top: 40px;
  width: 100%;
}

.product-reviews h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #495057;
}

.review-item {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-item p {
  margin: 5px 0;
  color: #495057;
}

.review-item .delete-comment-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.review-item .delete-comment-btn:hover {
  background-color: #c82333;
}

.add-to-cart-btn {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.add-to-cart-btn:hover {
  background-color: #218838;
}
